@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #e5e5e5;
}

.text-center {
    text-align: center;
}

header {
    padding: 20px;
    background-color: #34BE82;
    color: white;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 1000px;
    height: 300px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-item {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.box-filled {
    background-image: url('http://source.unsplash.com/random/200x200');
    position: relative;
    height: 200px;
    width: 200px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

