@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.text-center {
    text-align: center;
}

header {
    padding: 20px;
    background-color: #34BE82;
    color: white;
}